.loadmask {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  -moz-opacity: 0.5;
  opacity: .10;
  filter: alpha(opacity=10);
  background-color: #555;
  width: 97.5%;
  height: 96.5%;
  zoom: 1;
  border-radius: 5px;
  margin: 4px;
}
.masked {
  overflow: hidden !important;
}
.masked-relative {
  position: relative !important;
}
.masked-hidden {
  visibility: hidden !important;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.loadmask-msg {
  z-index: 20000;
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: 30px;
}
.loadmask-msg:before {
  content: 'Loading…';
  position: absolute;
  top: 30%;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-top: -10px;
  margin-left: -20px;
}
.loadmask-msg:not(:required):before {
  content: '';
  border-radius: 50%;
  border-top: 5px solid #03ade0;
  border-right: 5px solid transparent;
  animation: spinner .6s linear infinite;
  -webkit-animation: spinner .6s linear infinite;
}
