<div class="row">
	<div class="col-md-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h6 class="panel-title"><b>Projeto 1</b></h6>
				<small class="panel-title">Projeto de teste e tals e pah</small>
				<div class="heading-elements">
					<ul class="icons-list">
                		<li><a ng-click="project.edit($event)"><i data-project="a1s58a1sa5s1a6" class="icon-file-text2"></i></a></li>
                			<li></li>
                		<li><a ng-click="project.settings($event)"><i data-project="a1s58a1sa5s1a6" class="icon-cog"></i></a></li>
                			<li></li>
                		<li><a ng-click="project.delete($event)"><i data-project="a1s58a1sa5s1a6" class="icon-trash"></i></a></li>
                	</ul>
            	</div>
			<a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>
			
			<div class="panel-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			</div>

			<table class="table text-nowrap">
				<thead >
					<tr>
						<th>Campanha</th>
						<th class="col-md-2">Total</th>
						<th class="col-md-2">Apuração</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="media-left">
								<div class=""><a href="#" class="text-default text-semibold">Novos</a></div>
								<div class="text-muted text-size-small">
									<span class="status-mark border-blue position-left"></span>
									01/02 - 08/02
								</div>
							</div>
						</td>
						<td><span class="label bg-info heading-text">3</span></td>
						<td><span class="text-success-600"><i class="icon-stats-growth2 position-left"></i> 2.43%</span></td>
					</tr>
					<tr>
						<td>
							<div class="media-left">
								<div class=""><a href="#" class="text-default text-semibold">Bugs</a></div>
								<div class="text-muted text-size-small">
									<span class="status-mark border-danger position-left"></span>
									01/02 - 08/02
								</div>
							</div>
						</td>
						<td><span class="label bg-danger heading-text">11</span></td>
						<td><span class="text-danger"><i class="icon-stats-decline2 position-left"></i> - 8.02%</span></td>
					</tr>
				</tbody>
			</table>
			<div class="panel-footer">
				<ul>
					<li><button type="button" class="btn btn-link daterange-ranges heading-btn text-semibold">
							<i class="icon-calendar3 position-left"></i> <span>Finaliza em 14 dias</span>
						</button>
					</li>
				</ul>
				<ul class="pull-right">
					<li><a href="project/select/56b5015ee0b60dc018000001" class="btn btn-primary text-white">Selecionar projeto →</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>