
					<!-- Tasks options -->
					<div class="navbar navbar-default navbar-xs navbar-component">
						<ul class="nav navbar-nav no-border visible-xs-block">
							<li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
						</ul>

						<div class="navbar-collapse collapse" id="navbar-filter">
							<p class="navbar-text">Filtro:</p>
							<ul class="nav navbar-nav">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-sort-time-asc position-left"></i> Por data <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#">Mostrar tudo</a></li>
										<li class="divider"></li>
										<li><a href="#">Today</a></li>
										<li><a href="#">Yesterday</a></li>
										<li><a href="#">This week</a></li>
										<li><a href="#">This month</a></li>
										<li><a href="#">This year</a></li>
									</ul>
								</li>

								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-sort-amount-desc position-left"></i> Por status <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#">Mostrar tudo</a></li>
										<li class="divider"></li>
										<li><a href="#">Aberto</a></li>
										<li><a href="#">Em espera</a></li>
										<li><a href="#">Resolvido</a></li>
										<li><a href="#">Fechado</a></li>
										<li><a href="#">Invalido</a></li>
									</ul>
								</li>

								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-sort-numeric-asc position-left"></i> Por prioridade <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#">Mostrar tudo</a></li>
										<li class="divider"></li>
										<li><a href="#">Máxima</a></li>
										<li><a href="#">Alta</a></li>
										<li><a href="#">Normal</a></li>
										<li><a href="#">Baixa</a></li>
									</ul>
								</li>
							</ul>

							<div class="navbar-right">
								<p class="navbar-text">Modo de visualização:</p>
								<form class="navbar-form navbar-left" action="#">
									<div class="form-group">
										<label class="checkbox-inline switchery-double checkbox-switchery switchery-xs">
											Lista
											<input type="checkbox" class="switch-mode" checked="checked">
											Grade
										</label>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- /tasks options -->


					<!-- Tasks grid -->
					<div class="text-center content-group text-muted content-divider">
						<span class="pt-10 pb-10">Ultimos adicionados</span>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="panel border-left-lg border-left-primary">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-8">
											<h6 class="no-margin-top"><a href="task_manager_detailed.html">#24. Create UI design model</a></h6>
											<p class="mb-15">One morning, when Gregor Samsa woke from troubled..</p>

						                	<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
						                	<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
						                	<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
						                	<a href="#" class="text-default">&nbsp;<i class="icon-plus22"></i></a>
										</div>

										<div class="col-md-4">
											<ul class="list task-details">
												<li>28 January, 2015</li>
												<li class="dropdown">
							                		Priority: &nbsp; 
													<a href="#" class="label label-primary dropdown-toggle" data-toggle="dropdown">Normal <span class="caret"></span></a>
													<ul class="dropdown-menu dropdown-menu-right">
														<li><a href="#"><span class="status-mark position-left bg-danger"></span> Máxima</a></li>
														<li><a href="#"><span class="status-mark position-left bg-info"></span> Alta</a></li>
														<li class="active"><a href="#"><span class="status-mark position-left bg-primary"></span> Normal</a></li>
														<li><a href="#"><span class="status-mark position-left bg-success"></span> Baixa</a></li>
													</ul>
												</li>
												<li><a href="#">Eternity app</a></li>
											</ul>
										</div>
									</div>
								</div>

								<div class="panel-footer">
									<ul>
										<li>Aberto a <span class="text-semibold">23 horas</span></li>
									</ul>

									<ul class="pull-right">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Aberto <span class="caret"></span></a>
											<ul class="dropdown-menu dropdown-menu-right">
												<li class="active"><a href="#">Aberto</a></li>
												<li><a href="#">Em espera</a></li>
												<li><a href="#">Resolvido</a></li>
												<li><a href="#">Fechado</a></li>
												<li class="divider"></li>
												<li><a href="#">Invalido</a></li>
											</ul>
										</li>

										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
											<ul class="dropdown-menu dropdown-menu-right">
												<li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
												<li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
												<li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
												<li class="divider"></li>
												<li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
												<li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="panel border-left-lg border-left-danger">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-8">
											<h6 class="no-margin-top"><a href="task_manager_detailed.html">#23. New icons set for an iOS app</a></h6>
											<p class="mb-15">A collection of textile samples lay spread out on the table..</p>

						                	<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
						                	<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
						                	<a href="#" class="text-default">&nbsp;<i class="icon-plus22"></i></a>
										</div>

										<div class="col-md-4">
											<ul class="list task-details">
												<li>20 January, 2015</li>
												<li class="dropdown">
							                		Priority: &nbsp; 
													<a href="#" class="label label-danger dropdown-toggle" data-toggle="dropdown">Máxima <span class="caret"></span></a>
													<ul class="dropdown-menu dropdown-menu-right">
														<li class="active"><a href="#"><span class="status-mark position-left bg-danger"></span> Máxima</a></li>
														<li><a href="#"><span class="status-mark position-left bg-info"></span> Alta</a></li>
														<li><a href="#"><span class="status-mark position-left bg-primary"></span> Normal</a></li>
														<li><a href="#"><span class="status-mark position-left bg-success"></span> Baixa</a></li>
													</ul>
												</li>
												<li><a href="#">Eternity app</a></li>
											</ul>
										</div>
									</div>
								</div>

								<div class="panel-footer">
									<ul>
										<li>Aberto a <span class="text-semibold">18 horas</span></li>
									</ul>

									<ul class="pull-right">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Em espera <span class="caret"></span></a>
											<ul class="dropdown-menu dropdown-menu-right">
												<li><a href="#">Aberto</a></li>
												<li class="active"><a href="#">Em espera</a></li>
												<li><a href="#">Resolvido</a></li>
												<li><a href="#">Fechado</a></li>
												<li class="divider"></li>
												<li><a href="#">Invalido</a></li>
											</ul>
										</li>

										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
											<ul class="dropdown-menu dropdown-menu-right">
												<li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
												<li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
												<li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
												<li class="divider"></li>
												<li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
												<li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="panel border-left-lg border-left-success">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-8">
											<h6 class="no-margin-top"><a href="task_manager_detailed.html">#22. Create ad campaign banners set</a></h6>
											<p class="mb-15">That he had recently cut out of an illustrated magazine..</p>

					                		<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
					                		<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
					                		<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
					                		<a href="#" class="position-relative"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
					                		<a href="#" class="text-default">&nbsp;<i class="icon-plus22"></i></a>
										</div>

										<div class="col-md-4">
											<ul class="list task-details">
												<li>10 January, 2015</li>
												<li class="dropdown">
							                		Priority: &nbsp; 
													<a href="#" class="label label-success dropdown-toggle" data-toggle="dropdown">Baixa <span class="caret"></span></a>
													<ul class="dropdown-menu dropdown-menu-right">
														<li><a href="#"><span class="status-mark position-left bg-danger"></span> Máxima</a></li>
														<li><a href="#"><span class="status-mark position-left bg-info"></span> Alta</a></li>
														<li><a href="#"><span class="status-mark position-left bg-primary"></span> Normal</a></li>
														<li class="active"><a href="#"><span class="status-mark position-left bg-success"></span> Baixa</a></li>
													</ul>
												</li>
												<li><a href="#">Singular website</a></li>
											</ul>
										</div>
									</div>
								</div>

								<div class="panel-footer">
									<ul>
										<li>Aberto a <span class="text-semibold">22 horas</span></li>
									</ul>

									<ul class="pull-right">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Resolvido <span class="caret"></span></a>
											<ul class="dropdown-menu dropdown-menu-right">
												<li><a href="#">Aberto</a></li>
												<li><a href="#">Em espera</a></li>
												<li class="active"><a href="#">Resolvido</a></li>
												<li><a href="#">Fechado</a></li>
												<li class="divider"></li>
												<li><a href="#">Invalido</a></li>
											</ul>
										</li>

										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
											<ul class="dropdown-menu dropdown-menu-right">
												<li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
												<li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
												<li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
												<li class="divider"></li>
												<li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
												<li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="panel border-left-lg border-left-primary">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-8">
											<h6 class="no-margin-top"><a href="task_manager_detailed.html">#21: Edit the draft for the icons</a></h6>
											<p class="mb-15">You've got to get enough sleep. Other travelling salesmen..</p>

						                	<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
						                	<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
						                	<a href="#" class="text-default">&nbsp;<i class="icon-plus22"></i></a>
										</div>

										<div class="col-md-4">
											<ul class="list task-details">
												<li>4 January, 2015</li>
												<li class="dropdown">
							                		Priority: &nbsp; 
													<a href="#" class="label label-primary dropdown-toggle" data-toggle="dropdown">Normal <span class="caret"></span></a>
													<ul class="dropdown-menu dropdown-menu-right">
														<li><a href="#"><span class="status-mark position-left bg-danger"></span> Máxima</a></li>
														<li><a href="#"><span class="status-mark position-left bg-info"></span> Alta</a></li>
														<li class="active"><a href="#"><span class="status-mark position-left bg-primary"></span> Normal</a></li>
														<li><a href="#"><span class="status-mark position-left bg-success"></span> Baixa</a></li>
													</ul>
												</li>
												<li><a href="#">Corelius app</a></li>
											</ul>
										</div>
									</div>
								</div>

								<div class="panel-footer">
									<ul>
										<li>Aberto a <span class="text-semibold">27 horas</span></li>
									</ul>

									<ul class="pull-right">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Invalido <span class="caret"></span></a>
											<ul class="dropdown-menu dropdown-menu-right">
												<li><a href="#">Aberto</a></li>
												<li><a href="#">Em espera</a></li>
												<li><a href="#">Resolvido</a></li>
												<li><a href="#">Fechado</a></li>
												<li class="divider"></li>
												<li class="active"><a href="#">Invalido</a></li>
											</ul>
										</li>

										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
											<ul class="dropdown-menu dropdown-menu-right">
												<li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
												<li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
												<li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
												<li class="divider"></li>
												<li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
												<li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<!-- /tasks grid -->


					<!-- Pagination -->
					<div class="text-center content-group-lg pt-20">
						<ul class="pagination">
							<li class="disabled"><a href="#"><i class="icon-arrow-small-left"></i></a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#"><i class="icon-arrow-small-right"></i></a></li>
						</ul>
					</div>
					<!-- /pagination -->