<div class="panel panel-white" style="position: static; zoom: 1;">
    <div class="panel-heading">
        <h6 class="panel-title">Lista de tarefas</h6>
        <div class="heading-elements">
            <ul class="icons-list">
                <li>
                    <a data-action="collapse"></a>
                </li>
                <li>
                    <a data-action="reload"></a>
                </li>
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
        <div class="datatable-header">
            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                <label><span>Filtro:</span>
                    <input type="search" class="" placeholder="Buscar tarefa..." aria-controls="DataTables_Table_0">
                </label>
            </div>
            <div class="dataTables_length" id="DataTables_Table_0_length">
                <label><span>Mostrar:</span>
                    <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                        <option value="15">15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="75">75</option>
                        <option value="100">100</option>
                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-DataTables_Table_0_length-vo-container"><span class="select2-selection__rendered" id="select2-DataTables_Table_0_length-vo-container" title="25">25</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span>
                    </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                </label>
            </div>
        </div>
        <div class="datatable-scroll-lg">
            <table class="table tasks-list table-lg dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                <thead>
                    <tr role="row">
                        <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 20px;" aria-sort="descending" aria-label="#: activate to sort column ascending">#</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 40%;" aria-label="Task Description: activate to sort column ascending">Descrição</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 10%;" aria-label="Priority: activate to sort column ascending">Prioridade</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15%;" aria-label="Latest update: activate to sort column ascending">Ultima atualização</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15%;" aria-label="Status: activate to sort column ascending">Status</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15%;" aria-label="Assigned users: activate to sort column ascending">Responsaveis</th>
                        <th class="text-center text-muted sorting_disabled" style="width: 100px;" rowspan="1" colspan="1" aria-label=""><i class="icon-checkmark3"></i></th>
                    </tr>
                </thead>
                <tbody>





                    <tr class="active border-double">
                        <td colspan="8" class="text-semibold">Today</td>
                    </tr>

                    <tr role="row" class="even">
                        <td class="sorting_1">#24</td>

                        <td>
                            <div class="text-semibold"><a href="task_manager_detailed.html">Create UI design model</a></div>
                            <div class="text-muted">One morning, when Gregor Samsa woke from troubled..</div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a href="#" class="label label-danger dropdown-toggle" data-toggle="dropdown">Máxima <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right active">
                                    <li class="active"><a href="#"><span class="status-mark position-left bg-danger"></span>  máxima</a></li>
                                    <li><a href="#"><span class="status-mark position-left bg-info"></span>  alta</a></li>
                                    <li><a href="#"><span class="status-mark position-left bg-primary"></span>  normal</a></li>
                                    <li><a href="#"><span class="status-mark position-left bg-success"></span>  baixa</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-transparent">
                                <div class="input-group-addon"><i class="icon-calendar2 position-left"></i></div>
                                <input type="text" class="form-control datepicker hasDatepicker" value="22 January, 15" id="dp1453731884246">
                            </div>
                        </td>
                        <td>
                            <select name="status" class="select select2-hidden-accessible" data-placeholder="Select status" tabindex="-1" aria-hidden="true">
                                <option value="open">Open</option>
                                <option value="hold">On hold</option>
                                <option value="resolved">Resolved</option>
                                <option value="dublicate">Dublicate</option>
                                <option value="invalid">Invalid</option>
                                <option value="wontfix">Wontfix</option>
                                <option value="closed">Closed</option>
                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 150px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-status-9r-container"><span class="select2-selection__rendered" id="select2-status-9r-container" title="Open">Open</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span>
                            </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </td>
                        <td>
                            <a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
                            <a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
                            <a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
                            <a href="#" class="text-default">&nbsp;<i class="icon-plus22"></i></a>
                        </td>
                        <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
                                        <li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
                                        <li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
                                        <li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="active border-double">
                        <td colspan="8" class="text-semibold">Yesterday</td>
                    </tr>

                    <tr class="active border-double">
                        <td colspan="8" class="text-semibold">Last week</td>
                    </tr>
                    <tr role="row" class="even">
                        <td class="sorting_1">#2</td>

                        <td>
                            <div class="text-semibold"><a href="task_manager_detailed.html">Add images to the product gallery</a></div>
                            <div class="text-muted">Countries Vokalia and Consonantia, there live the blind..</div>
                        </td>
                        <td>
                            <div class="btn-group dropup">
                                <a href="#" class="label label-primary dropdown-toggle" data-toggle="dropdown">Normal <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right active">
                                    <li><a href="#"><span class="status-mark position-left bg-danger"></span>  máxima</a></li>
                                    <li><a href="#"><span class="status-mark position-left bg-info"></span>  alta</a></li>
                                    <li class="active"><a href="#"><span class="status-mark position-left bg-primary"></span>  normal</a></li>
                                    <li><a href="#"><span class="status-mark position-left bg-success"></span>  baixa</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-transparent">
                                <div class="input-group-addon"><i class="icon-calendar2 position-left"></i></div>
                                <input type="text" class="form-control datepicker hasDatepicker" value="21 January, 15" id="dp1453731884268">
                            </div>
                        </td>
                        <td>
                            <select name="status" class="select select2-hidden-accessible" data-placeholder="Select status" tabindex="-1" aria-hidden="true">
                                <option value="open">Open</option>
                                <option value="hold">On hold</option>
                                <option value="resolved">Resolved</option>
                                <option value="dublicate">Dublicate</option>
                                <option value="invalid">Invalid</option>
                                <option value="wontfix">Wontfix</option>
                                <option value="closed" selected="selected">Closed</option>
                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 150px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-status-7m-container"><span class="select2-selection__rendered" id="select2-status-7m-container" title="Closed">Closed</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span>
                            </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </td>
                        <td>
                            <a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
                            <a href="#" class="text-default">&nbsp;<i class="icon-plus22"></i></a>
                        </td>
                        <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown dropup">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
                                        <li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
                                        <li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
                                        <li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1">#1</td>

                        <td>
                            <div class="text-semibold"><a href="task_manager_detailed.html">Update User profile page</a></div>
                            <div class="text-muted">A small river named Duden flows by their place and supplies it..</div>
                        </td>
                        <td>
                            <div class="btn-group dropup">
                                <a href="#" class="label label-success dropdown-toggle" data-toggle="dropdown">Baixa <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right active">
                                    <li><a href="#"><span class="status-mark position-left bg-danger"></span>  máxima</a></li>
                                    <li><a href="#"><span class="status-mark position-left bg-info"></span>  alta</a></li>
                                    <li><a href="#"><span class="status-mark position-left bg-primary"></span>  normal</a></li>
                                    <li class="active"><a href="#"><span class="status-mark position-left bg-success"></span>  baixa</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-transparent">
                                <div class="input-group-addon"><i class="icon-calendar2 position-left"></i></div>
                                <input type="text" class="form-control datepicker hasDatepicker" value="19 January, 15" id="dp1453731884269">
                            </div>
                        </td>
                        <td>
                            <select name="status" class="select select2-hidden-accessible" data-placeholder="Select status" tabindex="-1" aria-hidden="true">
                                <option value="open">Open</option>
                                <option value="hold">On hold</option>
                                <option value="resolved">Resolved</option>
                                <option value="dublicate">Dublicate</option>
                                <option value="invalid">Invalid</option>
                                <option value="wontfix">Wontfix</option>
                                <option value="closed">Closed</option>
                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 150px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-status-aj-container"><span class="select2-selection__rendered" id="select2-status-aj-container" title="Open">Open</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span>
                            </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </td>
                        <td>
                            <a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
                            <a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
                            <a href="#" class="text-default">&nbsp;<i class="icon-plus22"></i></a>
                        </td>
                        <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown dropup">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
                                        <li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
                                        <li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
                                        <li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="datatable-footer">
            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 25 of 25 entries</div>
            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">←</a><span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">→</a></div>
        </div>
    </div>
</div>