<!-- Task manager table -->
<div class="panel panel-white">
	<div class="panel-heading">
		<h6 class="panel-title">Minhas anotações</h6>
		<div class="heading-elements">
    	</div>
	</div>

	<table class="table tasks-list table-lg">
		<thead>
			<tr>
				<th width="7%">#ID</th>
                <th width="12%">Titulo</th>
                <th wudth="50%">Resumo</th>
                <th width="13%">Ultima atualização</th>
            </tr>
		</thead>
		<tbody>

			<tr>
				<th width="7%">#</th>
                <th width="12%">Titulo</th>
                <th wudth="50%">Resumo</th>
                <th width="13%">Ultima atualização</th>
            </tr>

		</tbody>
	</table>
</div>
<!-- /task manager table -->